/* DEFINITIONS

a                       - links
li                      - list item
margin                  - creates space around elements outside of any defined borders
padding                 - creates space around elements inside of any defined borders
font-family             - set font-style
scroll-behavior         - sets the behavior of scrolling (auto, smooth)
color                   - changes the color of paragraph texts (rgb)
transition              - sets the rate of transition when moving to a link (all 300ms ease)
display                 - sets the flexible length on flexible items (flex)
justify-content         - distributes space between and around content items along the main axis of a flex container
alight-items            - specifies the default alignment for items inside a flexbox or a grid container
height                  - specifies the height on an element
gap                     - defines the sixe of the gap between rows and columns in a multi-column layout 
list-style              - sets the list style (none)
font-size               - sets the font-size (use rem)
text-decoration         - sets the decoration of the text
text-decoration-color   - sets the color of the text decoration
text-underline          - puts an underline on a text
text-underline-offset   - creates a space between the text and the underline

DENOMINATIONS:
vh                  - viewport height (10vh = 10% of screen)
rem                 - room-em, dictates an element's font size relative to the size of the root element (1rem = 16 px)

SELECTORS:
.element            - targets elements by class
#element            - target elements by Id

*/

/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@300;400;500;600;&display=swap'); /* import Poppins font from Google Fonts */

* { /* targets the page in general */
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
}

/* NAVIGATION */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem; 
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo { /* targets the logo */
    font-size: 2rem;
}

.logo:hover { /* create a hover effect on logo */
    cursor: default;
}

/* MOBILE VIEW */

#hamburger-nav { /* targets the hamburger nav */
    display: none; /* for the hamburger menu to not display on desktop */
}

.hamburger-menu { /* targets the hamburger menu */
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

/* rotate the hamburger icon when clicked */

.hamburger-icon.open span:first-child { /* targets first line */
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) { /* targets second line */
    opacity: 0;
}

.hamburger-icon.open span:last-child { /* targets third line */
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}